<section class="show-header">
  <h2><%= @recipe.name %></h2>
  <h4>By: <%= @recipe.contributor %></h4>
</section>
<div class="show-container">
  <section class="show-section1">
    <%= image_tag(@recipe.image) %>
  </section>
  <section class="show-section2">
    <strong>Ingredients</strong>
    <ul>
      <% @recipe.ingredients.each do |i| %>
        <li><%= i %></li>
      <% end %>
    </ul>
    <%= link_to "Go to full recipe", @recipe.url, target: :_blank, class: "button" %>
  </section>
</div>
<section>
  <strong>Dietary Labels</strong>
  <ul>
    <% @recipe.dietary_labels.each do |d| %>
      <li><%= d %></li>
    <% end %>
    <% @recipe.health_labels.each do |h| %>
      <li><%= h %></li>
    <% end %>
  </ul>
</section>
