<header class="page-header">
  <h1><%= link_to "MUNCHER", root_path %></h1>
  <section class="search-container">
    <%= form_tag(recipes_path, method: :get) do %>
      <input id="term" name="term" type="text" placeholder="ðŸ”" list="terms" class="search-box" />
      <datalist id="terms">
        <% if session[:term_collection] %>
          <% session[:term_collection].each do |term| %>
          <option><%= term %></option>
          <% end %>
        <% end %>
      </datalist>
      <%= render partial: "flash" %>
      <%= submit_tag 'Search', class: "button" %>
    <% end %>
  </section>
</header>
