

<section class="recipes-list">
  <h1>You have searched for <%= @query %>. </h1>
  <h2>And now you shall reap the whirlwind.</h2>
  <% if @recipes %>
    <ul>
      <% @recipes.each do |recipe| %>
        <li>
          <h3><%= recipe.name %></h3>
          <%= link_to recipe.name, recipes_detail_path(:uri_wanted => recipe.uri), :method => :get %>
          <%= recipe.name %>
          <%= image_tag(recipe.image, size: 200, alt: "#{recipe.name}") %>
        </li>
      <% end %>
      <%= will_paginate @recipes %>
    </ul>
  <% end %>
</section>
