<section class="recipes-list">

  <h1>Results for query</h1>
  <% if @recipes %>
    <ul>
      <% @recipes.each do |recipe| %>
        <li>
          <%= recipe.label %>
        </li>
        <li>
          <%= image_tag recipe.image %>
        </li>
        <li> Source:
          <%= link_to recipe.source, recipe.url %>
        </li>
        <li>
          <ul>
          <% recipe.health_labels.each do |label| %>
            <li>
              <%= label %>
            </li>
          <% end %>
          </ul>
        </li>
        <li>
          <ul>
          <% recipe.ingredients.each do |ingredient| %>
            <li>
              <%= ingredient %>
            </li>
          <% end %>
        </ul>
        </li>
      <% end %>
    </ul>
  <% end %>
</section>
