<section class="recipes-list">
  <h1>Things to Cook</h1>
  <% if @recipes %>
    <ul>
      <% @recipes.each do |recipe| %>
        <li>
          <%= recipe.uri %>
          <%= link_to recipe.label %>
          <%= link_to ("Original Recipe"), recipe.url %>
          <%= recipe.servings.to_i %>
          <%= recipe.ingredients.each do |ingredient| %>
            <%= puts ingredient %>
          <% end %>
          <%= recipe.health_labels.each do |health_label| %>
            <%= puts health_label %>
          <% end %>
          <%= recipe.calories %>
          <%= recipe.fat %>
          <%= recipe.saturated_fat %>
          <%= recipe.mono_fat %>
          <%= recipe.carbs %>
          <%= recipe.protein %>
          <%= recipe.sodium %>
          <%= recipe.fiber %>
          <%= recipe.cholesterol %>
        </li>
      <% end %>
    </ul>
  <% end %>
</section>
