<header>
  <% if @query %>
        <h4 class=""><%= @recipes.count %> RESULTS FOR: "<%= @query %>"</h4>
</header>

<% end %>
<div >

<section >
  <% if @recipes%>
  <ul class='grid-x'>
    <% @recipes.each do |recipe| %>
    <li class='thumbnail'>
      <%= image_tag recipe.image %>
      <p><%= link_to recipe.name, recipe_path(recipe.id) %></p>
    </li>
    <% end %>
  </ul>
  <% end %>
</section>
</div>

<section class="will_paginate align-center">
<% if @recipes%>
  <%= will_paginate @recipes %>
  <% end %>
</section>
