<h1>Search<span class="search"> </span> </h1>

<%= form_tag root_path, method: "get" do %>
  <%= label_tag(:q, "Search recipe") %>
  <%= text_field_tag(:q) %>
  <%= submit_tag("Search") %>
<% end %>

<section class="recipes-list">
  <h1>Recipes</h1>
  <ul>
    <% @recipes.each do |recipe| %>
      <li>
        <%= link_to recipe.title, recipe_path(:r => recipe.id)  %>
      </li>
    <% end %>
  </ul>
</section>
