<h1>Results for <%= @term %></h1>
<% @recipes.each do |r| %>
<ul>
  <li><%= image_tag(r.image, size: "100", alt: "Recipe image") %></li>
  <li><%= link_to r.title, recipe_path(r.id) %></li>
</ul>
<% end %>

<div class="pagination">
  <div class="page_info">
    <%= page_entries_info @recipes %>
  </div>
  <%= will_paginate @recipes, :container => false %>
</div>
