<header>
  <% if @query %>
        <h4 class=""><%= @recipes.count %> RESULTS FOR: "<%= @query %>"</h4>
</header>

<% end %>
<section>
  <% if @recipes%>
  <ul>
    <% @recipes.each do |recipe| %>
    <li>
      <%= image_tag recipe.image, size: 50 %>
    </li>
    <li>
      <%= link_to recipe.name, recipe_path(recipe.id) %>
    </li></br>
    <% end %>
  </ul>
  <% end %>
</section>

<section class="will_paginate align-center">
<% if @recipes%>
  <%= will_paginate @recipes %>
  <% end %>
</section>
