<section class="recipes-list">

<h1>Send Message to <span class="channel-name"> <%= @channel %></span> </h1>

  <%= form_tag send_message_path(@channel_name), method: "post" do %>
    <%= label_tag(:message, "Enter Message") %>
    <%= text_field_tag(:message) %>
    <%= submit_tag("Send") %>
  <% end %>


  <h1>Results for ...</h1>
  <% if @recipes %>
    <ul>
      <% @recipes.each do |recipe| %>
        <li>
          <%= link_to recipe.name, show_recipes_path(recipe.name) %>
        </li>
      <% end %>
    </ul>
  <% end %>
</section>
