<h2>Recipes for <%= @query %></h2>

<section>
  <% if @recipes.nil? || @recipes.empty? %>
  <p>None found!</p>
  <% else %>
  <ul>
    <% @recipes.each do |recipe| %>
    <li>
      <%= image_tag recipe.image, size: '100' %>
      <%= link_to recipe.label, recipe_path(uri: recipe.uri) %>
    </li>
    <% end %>
  </ul>
  <% end %>

  <section>
    <% if @page > 1 %>
      <%= link_to "<- Prev", recipes_path(q: @query, page: @page - 1) %>
    <% end %>

    <%= "[ p#{@page} of #{@last_page} ]" %>

    <% if @page < @last_page %>
      <%= link_to "Next ->", recipes_path(q: @query, page: @page + 1) %>
    <% end %>
  </section>
</section>
