<% content_for :title, "All recipes" %>

<section class="show_recipe">
  <%= render partial: "search", locals: { page_title: "You previours search"} %>

  <h1>Here are results for <%= params[:flavor] %></h1>

  <ul>
    <% @recipes.each do |re| %>
    <li>
      <%= re.name  %>
      <%= link_to image_tag(re.image, alt: "food-image", class: "food-image"), show_recipe_path(re.uri.split("_")[1]) %>
    </li>
    <% end %>
  </ul>
<%= will_paginate @recipes, id: "pagination" %>
</section>
