<header>
  <div>
    <h1>Recipedia</h1>
  </div>
  <div class="search-bar">
    <%= form_tag(recipes_path, :method => "get", id: "search-form") do %>
    <%= text_field_tag :search, params[:search], placeholder: "Search Recipes" %>
    <%= submit_tag "Search", :name => nil, :class => "button" %>
    <% end %>
  </div>
</header>

<h3 id='results'> Results for <%= params[:search] %> ...</h3>

<section class="index">
  <% @recipes.each do |recipe| %>
  <div class="index-container">
    <div>
      <%= image_tag(recipe.image) %>
    </div>
    <div>
      <%= link_to recipe.title, { action: 'show', :id => recipe.id }  %>
    </div>
  </div>
  <% end %>
</section>


<div class="pagination">
  <div id="pages">
    <%= will_paginate @recipes, :container => false %>
  </div>
</div>

<footer>
  <strong>Powered by Edamam</strong>
</footer>
