
<section >
  <article>
    <h1><%= link_to "MUNCH THIS", root_path %></h1>
    <div class="index-nav">
      <div class="directions">
        <%= will_paginate @recipes, :page_links => false, :container => false, :previous_label => 'Previous&nbsp;&nbsp;', :next_label => ' Next' %>
      </div>
      <div class="stats">
        <%= page_entries_info @recipes %>
      </div>
    </div>
  </article>
  <article id="muncher-home">
    <% if @recipes %>
      <div class="grid-x grid-padding-x align-center">
        <% @recipes.each do |item| %>
          <div class="cell small-4">
            <img src="<%= item.image %>" >
            <p>
              <%= link_to item.source, recipe_path(item.id) %><br/>
              
              by <%= item.label %>
            </p>
          </div>
        <% end %>
      </div>
    <% end %>
  </article>
</section>

<div class="pages">
  <%= will_paginate @recipes, :container => false, :previous_label => "â†", :next_label => "â†’"%>
</div>
