
<header>
  <section class="head-search">
    <h1><%= link_to("Munch. More", root_path, class: "head-search") %>
      <%= render partial: "form" %>
    </h1>
  </section>
</header>

<div class="index-background">
  <section class="row results ">

    <% if !@recipes.empty? %>
    <h2 class="row results">Recipe Results for "<%= params[:search_term] %>"</h2>


    <% @recipes.each do |recipe| %>
    <article class = "small-centered column">
      <%= link_to image_tag(recipe.image), recipe_path(:uri => recipe.uri) %>
      <h5>
        <%= link_to recipe.label, recipe_path(:uri => recipe.uri) %>
      </h5>
      <% end %>
    </article>
  </section>

  <div class ="row pages">
    <%= paginate @recipes %>
  </div>

  <% elsif @recipes.empty? %>
  <h3>No results found. Please try another search term.</h3>

  <% end %>

</div>
