<h1> Results for '<%= @query %>'</h1>


<section class="grid-container">
  <% if @recipes %>

  <% @recipes.each do |recipe| %>
  <div class="grid-item">
  <%= link_to image_tag(recipe.image, :size => "200x200", alt:"recipe image"), recipe_show_path(recipe.id) %>
  <p><%= link_to recipe.label, recipe_show_path(recipe.id) %></p>
  </div>

  <% end %>

  <% end %>
</section>
<%= will_paginate @recipes, class: "page-nav row" %>

<div>
<%= form_tag recipe_results_path, method: "get" do %>
  <%= label_tag(:search_phrase, "What to cook with next?") %>
  <%= text_field_tag(:search_phrase) %>
  <%= submit_tag("Search") %>
<% end %>
</div>
