<h1>Results for recipes</h1>

<section class="recipes-list">

  <% if @recipes %>
      <% @recipes.each do |recipe| %>
      <ul class="small medium">
        <li>
          <%= link_to recipe.label, show_recipe_path(recipe.uri.split("_")[1]) %>
        </li>
        <li>
          <%= image_tag recipe.image %>
        </li>
        <li> Source:
          <%= link_to recipe.source, recipe.url %>
        </li>
        <li>
          <ul>
          <% recipe.health_labels.each do |label| %>
            <li>
              <%= label %>
            </li>
          <% end %>
          </ul>
        </li>
        <li>
          <ul>
          <% recipe.ingredients.each do |ingredient| %>
            <li>
              <%= ingredient %>
            </li>
          <% end %>
        </ul>
        </li>
      </ul>
      <% end %>
  <% end %>
</section>
