<section class="list">
  <div class="header">
    <p id="nav-title">TITLE</p>
    <%= link_to root_path, class: "btn btn-default" do %>
      <i class="fas fa-search"></i> search
    <% end %>
  </div>

  <h2>Search results for "<%= @search %>"</h2>
  <nav aria-label="Pagination">
    <ul class="pagination">
      <% @recipes_pag.each do |recipe| %>
        <li>
          <img src="<%= recipe.image %>" alt= "<%= recipe.name %>" >
          <%= link_to recipe.name, recipe_show_path(recipe.id), class: "single_recipe" %>
        </li>
      <% end %>
    </ul>
    <%= will_paginate @recipes_pag %>
  </nav>
</section>
