<h2>Muncher</h2>

<section>
  <%= form_tag(recipes_path, method: :get) do %>
    <%= label_tag(:q, "What's cooking?")  %>
    <%= text_field_tag(:q) %>

		<%= hidden_field_tag(:label) %>
		<%= hidden_field_tag(:image) %>

    <%= submit_tag("Search") %>
  <% end %>
</section>
