<section id="recipe-show">
  <h1>MUNCHER</h1>
  <h2><a href="<%= @recipe.url %>"  target="_blank"><%= @recipe.source %></a></h2>
  <h4>by <%= @recipe.label %></h4>
  Serves: <%= @recipe.count.round(0) %>


  <article class="show-details">
    <div class="show-feature">
      <div>
        <img src="<%= @recipe.image %>" alt="<%= @recipe.source %> image">
      </div>
      <div>
        <h4>Ingredients</h4>
        <ul>
          <% @recipe.ingredients.each do |item| %>
            <li>
              <%= item["text"] %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>

    <div>
      <ul>
        <h4>Health Labels</h4>
          <% @recipe.health.each do |label| %>
          <li>
            <%= label %>
          </li>
          <% end %>
      </ul>
    </div>


  </article>
</section>
