<section class="show">

  <div class="show-item">
    <h2><%= @recipe.name %></h2>
    <img src="<%= @recipe.image %>" alt= "<%= @recipe.name %>">
    <p>Source: <%= link_to @recipe.source, @recipe.url %></p>
  </div>

  <div class="show-item">
    <p>Ingredients: </p>
    <ul>
      <% @recipe.ingredients.each do |ingredient| %>
        <li><%= ingredient["text"] %></li>
      <% end %>
    </ul>
    <p>Dietary Info: </p>
    <ul>
      <% if @recipe.dietary_info == [] %>
        <p>None</p>
      <% else %>
        <% @recipe.dietary_info.each do |label| %>
        <li><%= label %></li>
        <% end %>
      <% end %>
    </ul>
  </div>

</section>
<%= link_to 'New Search', root_path, class: "button" %>
