<h1><%= @recipe.label %></h1>

<article class="show-container">
  <div class="show-img">
  <%= image_tag(@recipe.image, :size => "400x400", alt:"recipe image") %>
  <div class="show-section2">
  <p><strong>Dietary Labels</strong></p>
  <%@recipe.healthLabels.each do |line| %>
  <ul>
    <li><%= line %></li>
  </ul>
  <%end%>
  </div>
  </div>
  <div>
  <p><strong>Ingredients:</strong></p>
  <%@recipe.ingredientLines.each do |line| %>
  <ul>
    <li><%= line %></li>
  </ul>
  <%end%>
  </div>
</article>




<div class="origin"><strong>
<p>See the original recipe from: <%= link_to "#{@recipe.source}", @recipe.url %> </p></strong>
</div>
