<h2><%= @recipe.name %></h2>

<%= image_tag @recipe.image, alt: "image of recipe #{@recipe.name}"%>
<h3>Nutritional Information:</h3>
<p><% if @recipe.dietLabels.empty? == false %>
  <%= "#{@recipe.name} is compliant with the following dietary regimes:" %>
  <%= "#{list_print(@recipe.dietLabels)}" %>
  <% end %>
</p>
<% if @recipe.healthLabels.empty? == false %>
<p><%= "#{@recipe.name} has the following health benefits:" %>
  <%= "#{list_print(@recipe.healthLabels)}" %>
  <% end %>
</p>
<h6>Calories: <%= (@recipe.calories / @recipe.servings).round(2) %> per serving</h6>
<h4>Ingredients:</h4>
<ul>
  <% @recipe.ingredients.each do |ingredient| %>
  <li><%= ingredient %></li>
  <% end %>
</ul>
<p><%= link_to "See Original Recipe Page", @recipe.link,  class: "button", alt: "link to full recipe on original site"%></p>
