
<!-- Show View: recipe name, link to original recipe, ingredients, dietary info -->
<h4><%= @recipe.name %></h4>
<h5>Recipe by:<%= link_to "#{@recipe.source}", @recipe.link %></h5>

<div>
        <%= image_tag(@recipe.image, alt:"#{@recipe.name}") %>
      </div>
<%= link_to @recipe.link %></br></br>

<strong>Ingredients</strong></br>
<% @recipe.ingredients.each do |ingredient| %>
<ul>
  <li>
    <%= ingredient %>
  </li>
</ul>
<% end %>

<h6>Calories: <%= @recipe.calories.round %></h6>
