<section>
      <ul class="recipe-info">
        <li class="recipe-name">
          <%= @recipe.label %>
        </li>
        <li class="recipe-img">
          <%= image_tag @recipe.image %>
        </li>
        <li> <strong>Directions/Source:</strong>
          <%= link_to @recipe.source, @recipe.url, target: :_blank %>
        </li>
        <li> <strong>Ingredients:</strong>
          <ul>
          <% @recipe.ingredients.each do |ingredient| %>
            <li>
              <%= ingredient %>
            </li>
          <% end %>
          </ul>
        </li>
        <li> <strong>Health Facts:</strong>
          <ul>
          <% @recipe.health_labels.each do |label| %>
            <li>
              <%= label %>
            </li>
          <% end %>
          </ul>
        </li>

      </ul>
</section>
