<section class="recipe-show">
  <div class="show-header">
    <h2><a href="<%= @recipe.url %>"  target="_blank" title="click to see recipe"><%= @recipe.source %></a></h2>
    <h4>by <%= @recipe.label %></h4>
    Serves: <%= @recipe.count.round(0) %>
  </div>

  <article class="show-details">
    <div class="show-feature">
      <div>
        <img src="<%= @recipe.image %>" alt="<%= @recipe.source %> image">
      </div>
      <div>
        <h4 class="info">Ingredients</h4>
        <ul>
          <% @recipe.ingredients.each do |item| %>
            <li>
              <%= item["text"] %>
            </li>
          <% end %>
        </ul>
        <ul>
          <h4 class="info">Health Labels</h4>
            <% @recipe.health.each do |label| %>
            <li>
              <%= label %>
            </li>
            <% end %>
        </ul>
      </div>
    </div>

    <div>

    </div>


  </article>
</section>
