<section>


  <h2><%=@recipe.label%></h2>

  <a target="_blank" href="<%=@recipe.url%>">Go to the original <%=@recipe.label%> recipe</a>

  <img src="<%=@recipe.image%>" alt="<%=@recipe.label%>">
  <% unless @recipe.ingredients.nil?%>
  <h3>Ingredients:</h3>
  <ul>
    <% @recipe.ingredients.each do |ingredient|%>
    <li><%=ingredient%></li>
    <%end%>
  </ul>
  <%end%>
  <% unless @recipe.health.nil?%>
  <h3>Dietary information:</h3>
  <ul>
    <% @recipe.health.each do |health|%></li>
    <li><%=health%></li>
    <%end%>
  </ul>
  <%end%>

</section>
