<% require 'pry' %>

<%= form_tag(search_path, method: "get") do %>
  <%= label_tag(:q, "Find your flavor:") %>
  <%= text_field_tag(:q, @query) %>
  <%= submit_tag("Search") %>
<% end %>

<% if @recipe %>
    <ul>
      <li>
        <%= image_tag(@recipe.image_url, :alt => "#{@recipe.name}") %>
      </li>

      <li>
        <%= @recipe.name %>
      </li>

      <li>
        <%= "Allergy/Diet Restriction Info: #{@recipe.allergy}" =%>
      </li>

      <li>
        <%= "Nutritional Info: #{@recipe.nutrition}" =%>
      </li>

      <li>
        <ul>
          <% @recipe.ingredients.each do |ingredient| %>
            <li>
              <%= ingredient %>
            </li>
          <% end %>
        </ul>
      </li>

      <li>
        <%= link_to "Original #{@recipe.name} recipe", @recipe.link, target: :_blank =%>
      </li>
    </ul>

<% end %>
