<h2>MUNCHER</h2>

<p><%= @recipe.title %></p>
<p>By <%= @recipe.source %></p>
<%= image_tag(@recipe.image, alt: @recipe.title) %>
<p>Ingredients</p>
<ul>
  <% @recipe.ingredients.each do |ingredient| %>
    <li><%= ingredient %></li>
  <% end %>
</ul>
<p>Dietary Labels</p>
<ul>
  <% @recipe.diet_labels.each do |diet_label| %>
    <li><%= diet_label %></li>
  <% end %>
</ul>
