<section class="recipe-show-page">
  <h3><%= @recipe.name %></h3>
  <div class="float-center"><%= image_url(@recipe) %></div>

  <h4>Ingredients:</h4>
  <ul>
    <% @recipe.ingredients.each do |line| %>
    <li>
      <%= line %>
    </li>
    <% end %>
  </ul>

  <h4>Dietary Info:</h4>
  <ul>
    <% @recipe.dietary_info.each do |line| %>
    <li>
      <%= line %>
    </li>
    <% end %>
  </ul>

  <h4>See Full Recipe: </h4>
  <%= link_to @recipe.url, @recipe.url %>

</section>
