<h2>Results for:</h2>


<section>
	<%=@recipe.name%>
	<img src="<%= @recipe.photo_url %>" />

	<%= link_to "See the original recipe", @recipe.url, target: "_blank" %>
</section>

<div>
	<h3>Ingredients</h3>
	<ul>
		<% @recipe.ingredients.each do |ingredient| %>
		<li>
			<%= ingredient %>
		</li>
		<% end %>
	</ul>
	<h3>Health Facts</h3>
	<ul>
		<% @recipe.dietary_labels.each do |label| %>
		<li>
			<%= label %>
		</li>
		<% end %>
	</ul>
</div>
