<h1>Recipe Details</h1>

<p><%= @recipe.name %></p>
<img src="<%= @recipe.image %>">
<p><%= @recipe.url %></p>
<p>Ingredients:</p>
<ul>
  <% @recipe.ingredients.each do |ingredient| %>
  <li><%= ingredient %></li>
  <% end %>
</ul>


<p>Health and Dietary Labels:</p>
<ul>
  <% @recipe.dietary_info.each do |label| %>
  <li><%= label %></li>
  <% end %>
  <% @recipe.health_info.each do |label| %>
  <li><%= label %></li>
  <% end %>
</ul>
