<h2><%= link_to "MUNCHER", root_path %></h2>

<p><%= link_to@recipe.label, @recipe.url %></p>
<p>By <%= @recipe.source %></p>

<%= link_to image_tag(@recipe.image, alt: @recipe.label), @recipe.url, target: :_blank %>

<section>
  <h4>Ingredients</h4>
  <ul>
    <% @recipe.ingredients.each do |ingredient| %>
    <li>
      <%= ingredient %>
    </li>
    <% end %>
  </ul>
</section>


<section>
  <% if @dietary_info != [] %>
  <h4>Dietary Info</h4>
  <ul>
    <% @recipe.dietary_info.each do |dietary_info| %>
    <li>
      <%= dietary_info %>
    </li>
    <% end %>
    <% end %>
  </ul>
</section>

<section>
