<section>
  <h1><%= @recipe.name %></h1>

  <img src="<%= @recipe.image %>" alt= "<%= @recipe.name %>" >
  <p><%= link_to 'Original Recipe', @recipe.url %></p>
  <p>Ingredients: </p>
  <ul>
    <% @recipe.ingredients.each do |ingredient| %>
      <li><%= ingredient["text"] %></li>
    <% end %>
  </ul>
  <p>Dietary Info: </p>
  <ul>
    <% if @recipe.dietary_info == [] %>
      <p>None</p>
    <% else %>
      <% @recipe.dietary_info.each do |label| %>
      <li><%= label %></li>
      <% end %>
    <% end %>
  </ul>

  <%= link_to 'Back to search', root_path %>
</section>
