<header>
  <h4>Muncher</h4>
  <section class='header-bar'>
  <%= form_tag muncher_index_path, method: :get do %>
    <%= label_tag(:search, "Find your flavor...") %>
    <%= text_field_tag(:search) %>
    <%= submit_tag("Search") %>

  <% end %>
  </section>
</header>

<h1><%= link_to @recipe.name, @recipe.url  %></h1>
<h4>by <%= @recipe.source %></h4>

<section class='show-page'>
  <div class='image-section'>
  <img src="<%= @recipe.image %>" alt="recipe photo">

    <section class='nutrition'>
    <span>Dietary Labels</span>
    <ul>
      <% if @recipe.dietary_info %>
      <% @recipe.dietary_info.each do |label| %>
      <li>
        <%= label  %>
      </li>
      <% end %>
      <% end %>
    </ul>
    </section>
  </div>
  <div class='ingredients'>
    <span>Ingredients</span>
    <ul>
      <% @recipe.ingredients.each do |label| %>
      <li>
        <%= label  %>
      </li>
      <% end %>
    </ul>
  </div>
</section>
