
<h2 class="item-header"><%=@recipe.label%></h2>
<h3 class="item-header">By <%=@recipe.source%></h3>


<%=image_tag("#{@recipe.image}",class: "item-image")%>

<section id="ingredient-list">
<h4>Ingredients</h4>
<ul>
<%@recipe.ingredientLines.each do |ingredient| %>
<li><%=ingredient%></li>
<%end%>
</ul>
</section>

<h5 id="calories">Total Calories: <%=@recipe.totalNutrients["ENERC_KCAL"]["quantity"].round(2)%></h5>

<p id="try-it">Try it yourself <%=link_to "here", @recipe.url, target: :_blank%></p>

<h3 id="nutritional-info-title">Nutritional Information : </h3>

<div id="table-block">
<table id="nutritional-table">
  <tr>
    <th class="nutrient-name">Nutritional Information</th>
    <th>Quantity</th>
    <th>Unit</th>
  </tr>
  <%@recipe.totalNutrients.each do |nutrient|%>
    <%next if nutrient[0] == "ENERC_KCAL"%>
    <%nutrient[1]["quantity"] = nutrient[1]["quantity"].round(3)%>
      <tr>
      <%nutrient[1].values.each do |item|%>
          <td class="nutrient-name"><%=item%></td>
          <%end%>
      </tr>
    <%end%>
<table>
</div>
