
<h2><%=@recipe.label%></h2>
<h3>By <%=@recipe.source%></h3>

<%=image_tag("#{@recipe.image}",alt: "image of #{@recipe.label}")%>
<h5 id="ingredient-list">Ingredients</h5>
<ul>
<%@recipe.ingredientLines.each do |ingredient| %>
<li><%=ingredient%></li>
<%end%>
</ul>

<p>Try it yourself <%=link_to "here", @recipe.url, target: :_blank%></p>
<h5>Total Calories: <%=@recipe.totalNutrients["ENERC_KCAL"]["quantity"].round(2)%></h5>

<h5>Nutritional Information</h5>
<table>
  <tr>
    <th>Nutritional Information</th>
    <th>Quantity</th>
    <th>Unit</th>
  </tr>
  <%@recipe.totalNutrients.each do |nutrient|%>
    <%next if nutrient[0] == "ENERC_KCAL"%>
    <%nutrient[1]["quantity"] = nutrient[1]["quantity"].round(3)%>
      <tr>
      <%nutrient[1].values.each do |item|%>
          <td><%=item%></td>
          <%end%>
      </tr>
    <%end%>
<table>
