<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <script src="https://developer.edamam.com/attribution/badge.js"></script>

  </head>

  <body>
    <h2>Welcome to searching shit</h2>
    <%= form_tag results_path(@search_input), method: "get" do %>
      <%= label_tag(:query_text, "Enter food") %>
      <%= text_field_tag(:query_text) %>
      <%= submit_tag "Search" %>
    <% end %>

    <%= yield %>
    <div id="edamam-badge" data-color="white"></div>
  </body>
</html>
