<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title><%= content_for?(:title) ? yield(:title) : "Muncher" %></title>

  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <header>
    <!-- Menu for searching available in every page: -->

    <div class="title-bar" data-responsive-toggle="responsive-menu" data-hide-for="medium">
      <button class="menu-icon" type="button" data-toggle="responsive-menu"></button>
      <div class="title-bar-title">Menu</div>
    </div>

    <div class="top-bar" id="responsive-menu">
      <div class="top-bar-left">
        <ul class="dropdown menu" data-dropdown-menu>
          <li class="menu-text"><%=link_to "Muncher", root_path%></li>

          <!-- TODO: Enable last seacrhes (create method to store it and create an About page.) -->
          <!-- <li class="has-submenu">
          <a href="#0">Previous searchs</a>
          <ul class="submenu menu vertical" data-submenu>
          <li><a href="#0">One</a></li>
          <li><a href="#0">Two</a></li>
          <li><a href="#0">Three</a></li>
        </ul>
      </li>

      <li><a href="#0">About</a></li>
      <li><a href="https://developer.edamam.com/edamam-docs-recipe-api">API Source</a></li> -->
    </ul>

  </div>
  <div class="top-bar-right">
    <ul class="menu">
      <li><%= form_tag search_results_path, method: :get, class: "menu" do %></li>
      <li><%= text_field_tag :query, params[:query], type: 'search', placeholder: 'Find recipe' %></li>
      <li><%= submit_tag "Search", class: 'button' %></li>
      <% end %>
    </ul>
  </div>
</div>

</header>
</head>

<body>
  <% flash.each do |key, value| %>

  <div class="callout <%= key %> " data-closable><%= value %></div>
  <% end %>

  <%= yield %>

</body>

<footer>
  <p>Powered by <a href="https://developer.edamam.com/edamam-docs-recipe-api">Edamam</a></p>
</footer>

</html>
