<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>


    <%= yield %>
    <section>
      <%= form_tag recipe_list_path(@recipe_list), method: "get" do %>
        <%= label_tag(:recipe, "Enter Ingredient") %>
        <%= text_field_tag(:recipe) %>
        <%= submit_tag("Send") %>

      <% end %>

    </section>


  </body>
</html>
