<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">

    <title>The Kitchen</title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">

  </head>

  <body>

    <header>
      <div>
        <%= form_for(:search, url:{:controller=>'recipes', :action=>'index'}, html:{:class =>'form-inline', :method=>'get'}) do |f| %>
          <div class="form-fields">
            <%= f.search_field :terms, placeholder: "Enter dish or ingredient..." %>
            <%= f.button fa_icon("utensils"), class: "button", id: "search-button" %>
          </div>
        <% end %>
      </div>
    </header>

    <%= yield %>

    <footer>
      <div>
        <%= link_to("POWERED BY EDMAM", "https://developer.edamam.com/") %>
      </div>
    </footer>

  </body>
</html>
