<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>

<h1>Search recipes for </h1>

<%= form_tag(root_path, method: 'get') do %>
  <%= label_tag(:search, "Enter Search") %>
  <%= text_field_tag(:search, params[:search]) %>
  <%= submit_tag("Submit") %>
<% end %>

<%= yield %>
  </body>
</html>
