<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://fonts.googleapis.com/css?family=Domine" rel="stylesheet">
    <title><%= content_for?(:title) ? yield(:title) : "Octo-Muncher" %></title>

    <script src="https://developer.edamam.com/attribution/badge.js"></script>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body class='grid-y'>
    <header>
      <nav class='top-bar'>
        <span><%= link_to "Octo-Muncher", root_path %></span>
        <div class="right">
          <% unless session[:user_id] %>
            <%= link_to 'Login', '/auth/google_oauth2', class: 'button' %>
          <% else %>
            <%= link_to "Logged in as #{@logged_user.name}", user_path(@logged_user) %>
            <%= link_to 'Logout', logout_path, class: 'button' %>
          <% end %>
        </div>
      </nav>
    </header>

    <section>
      <% if flash[:status] %>
        <%= flash[:message] %>
      <% end %>
    </section>

    <main class='grid-x grid-margin-x'>
      <aside class="recent-searches cell" aria-label="recent-searches">
        <% if !session[:recent_searches].empty? %>
          <h4> <strong> Recent Searches </strong> </h4>
          <% session[:recent_searches].last(5).reverse.each do |query| %>
            <%= query %>
          <% end %>
        <% end %>
      </aside>
      <%= yield %>
    </main>

    <footer>
      <div id="edamam-badge" data-color="white"></div>
    </footer>
  </body>
</html>
