<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <header>
      Recipe hAPI
    </header>

    <section class="search-wrapper more-padding align-center">
      <%= form_tag({controller: 'recipes', action: 'index'}, method: 'get') do %>
      <%= text_field_tag(:query) %>
      <%= submit_tag("Search!")%>
      <% end %>
    </section>

    <%= yield %>

    <footer class="align-center">
          <p>
            COPYRIGHT &copy; ID 2018 | Powered by <%= link_to "Edamam", "https://www.edamam.com/" %>
          </p>
        </footer>
  </body>
</html>
