<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>

  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<header>
  <div>
    <h1>Recipedia</h1>
  </div>
  <div class="search-bar">
    <%= form_tag(recipes_path, :method => "get", id: "search-form") do %>
    <%= text_field_tag :search, params[:search], placeholder: "Search Recipes" %>
    <%= submit_tag "Search", :name => nil, :class => "button" %>
    <% end %>
  </div>
</header>

<body>

  <div class="flash">
    <% flash.each do |key, value| %>
    <%= value %>
    <% end %>
  </div>

  <%= yield %>

</body>

<footer>
  <strong>Powered by Edamam</strong>
</footer>
</html>
