<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Cook a Thing" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', 'https://fonts.googleapis.com/css?family=Fjalla+One:400,700|Abel' %>

    <script src="https://developer.edamam.com/attribution/badge.js"></script>
  </head>

  <body>
    <header class="page-header">
      <h2>
        <%= link_to "Cook a Thing", root_path %>
        <small>Find Things and Cook Them</small>
      </h2>

      <nav>
        <section class="site-nav">
          <%= link_to "Find a Thing", root_path, class: "button" %>
          <%= link_to "Peanut-Free", query_recipe_path(:query => "recipe", :health => "peanut-free"), class: "button" %>
          <%= link_to "Vegetarian", query_recipe_path(:query => "recipe", :health => "vegetarian"), class: "button" %>
          <%= link_to "Gluten-Free", query_recipe_path(:query => "recipe", :health => "gluten-free"), class: "button" %>
          <%= link_to "Dairy-Free", query_recipe_path(:query => "recipe", :health => "dairy-free"), class: "button" %>
        </section>
        <section class="user-nav">
          <!-- fill in with github stuff -->

        </section>
      </nav>


    </header>

    <%= yield %>

    <footer class="page-footer">
      <div id="edamam-badge" data-color="white"></div>
    </footer>

  </body>

</html>
