<!DOCTYPE html>

<link href='https://fonts.googleapis.com/css?family=Do+Hyeon' rel='stylesheet' />
<html lang="en">


  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "YUM MUNCHER" %></title>
  <% unless controller_name=="recipe" && action_name=='new' %>
      <%= stylesheet_link_tag    "application" %>
      <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
      <%= csrf_meta_tags %>
    </head>

    <nav>
      <header class="results-header">
        <h1><%= link_to "YUM MUNCHER", root_path %></h1>
        <section>
          <%= render "search" %>
        </section>
      </header>
    </nav>
  <% end %>


  <body>
    <%= yield %>
  </body>
</html>
