<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Deets for Eats" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <script src="https://developer.edamam.com/attribution/badge.js"></script>
  </head>

  <body>
    <main>
      <header>DEETS FOR EATS</header>

      <%= yield %>
    </main>
    <footer><div id="edamam-badge" data-color="white"></div></footer>
  </body>

</html>
