<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Edamammmm" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <header>
    <%= image_tag "logo.jpg", alt: "Site logo", class: "logo" %>
    <nav>
      <%= form_tag recipes_path(@label), method: "get" do %>
        <%= label_tag(:message, "Enter Recipe name") %>
        <%= text_field_tag(:message) %>
        <%= submit_tag("Search") %>

      <% end %>

    </nav>
  </header>
  <body>


    <%= yield %>
    <footer>
    </footer>
  </body>
</html>
