<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <nav>
  <h2 class="nav-main"><%= link_to "Muncher", root_path %></h2>

  <%= form_tag recipes_path, method: :get do %>
  <section class="search"><%= text_field_tag(:query) %></section>
  <section class="submit"><%= submit_tag("Search", class: "button nav-button")%></section>
  <% end %>
</nav>

  <body>



    <%= yield %>

  </body>
</html>
