<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <link href="https://fonts.googleapis.com/css?family=Overpass" rel="stylesheet">
  </head>

  <body>
    <header>
      <%= form_tag recipes_path, {:method => :get} do %>
      <%= label_tag :query, "Search Recipe" %>
      <%= text_field_tag :query, params[:query] %>
      <%end%>
    </header>

    <%= yield %>

  </body>
</html>
