<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>

  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href="https://fonts.googleapis.com/css?family=Overpass" rel="stylesheet">
</head>

<body>
  <header>
    <section>
      <h2>What do you want to cook?</h2>
      <h1 id="navtitle">MUNCHER</h1>
    </section>
    <nav class="top-bar stacked-for-medium" data-menu-underline-from-center>
      <ul class="menu align-center">
        <li><a href="/homepage" >Homepage</a></li>
        <li>
          <%= form_tag recipes_path, {:method => :get} do %>
          <%= label_tag :query, "Search Recipe" %>
          <%= text_field_tag :query, params[:query] %>
          <%end%>
        </li>
      </ul>
    </nav>
  </header>

  <%= yield %>

</body>
</html>
