<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>

    <%= yield %>
  <footer>
    Powered by <img src="https://corehealth.global/images/default-source/partner-logos/edamam_logo.png?sfvrsn=3d075ab3_4" alt="site-logo" id="site-logo">
    </footer>
  </body>
</html>
