<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title><%= content_for?(:title) ? yield(:title) : "Muncher" %></title>

  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href="https://fonts.googleapis.com/css?family=Pangolin" rel="stylesheet">
  <%= favicon_link_tag asset_path('favicon.png'), rel: 'icon', type: 'image/png' %>
</head>

<body>
  <header class="top">
    <h1> Muncher </h1>
    <% if display_search?(request.fullpath) %>
    <aside class="search"> <%= render partial: 'layouts/search' %> </aside>
    <% end %>
  </header>

  <%= yield %>

  <footer>
    <span> powered by <%= image_tag("edamam.png", class: "edamam-logo") %></span>
  </footer>
</body>
</html>
