<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>find some fare</title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <link href="https://fonts.googleapis.com/css?family=Aclonica" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Bellefair" rel="stylesheet">

    <script src="https://developer.edamam.com/attribution/badge.js"></script>
  </head>

  <body>
    <header>
      <h1><%= link_to "find some fare", root_path %></h1>
    </header>
    <% if flash[:alert] %>
      <h5 class="flash alert"><%= flash[:alert] %></h5>
    <% end %>
    <main>
      <%= yield %>
    </main>
    <footer>
      <div id="edamam-badge" data-color="white"></div>
    </footer>

  </body>
</html>
