<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Munchy" %></title>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css" integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9" crossorigin="anonymous">

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <!-- <header>
    <span>search <i class="fas fa-search"></i></span>
  </header> -->

  <body>

    <% if flash[:result] %>
      <section class="callout <%= flash[:status] %>">
        <p><%= flash[:status] == :alert ? "A problem occurred: " : "" %><%= flash[:result] %></p>
      </section>
    <% end %>

    <%= yield %>

  </body>

  <footer>
    <p>Powered by Edamam</p>
  </footer>
</html>
